#app {
    margin: 2em;
    height: 70%;
    align-self: center;
    justify-content: center;
    gap: 1em;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2em;
    justify-content: space-between;
    background-color: #f9f4f6;
}

.inventory-container, .cart-container {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inventory__item, .cart__item {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
    background-color:#dbd3be;
    border-radius: 4px;
}

.cart__item-wrapper, .cart__edit-item-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
    align-items: center;
}

.inventory__subtract-btn, .cart__subtract-btn {
    cursor: pointer;
    background-color: #a73e3f;
    color: white;
    border-radius: 4px
}

.inventory__add-btn, .cart__add-btn {
    cursor: pointer;
    background-color: #68a347;
    color: white;
    border-radius: 4px
}

.add-to-cart-btn, .cart__edit-btn {
    cursor: pointer;
    background-color: #3562a1;
    color: white;
    border-radius: 4px
}

.cart__delete-btn, .checkout-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 4px
}

.cart__save-btn {
    cursor: pointer;
    background-color: white;
    border-radius: 4px
}

.cart__edit-item-wrapper {
    display: none;
}



.cart-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
}

ul > li {
    margin-top: 1em;
}


h1 {
    text-align: center;
    margin: 0;
}

button {
    padding: 4px 8px;
    border-color: transparent;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}